<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Create Account</h2>
    <p class="subtitle">Register to access LMS</p>
 
    <form [formGroup]="form" (ngSubmit)="register()">
 
      <!-- Username -->
      <div class="form-group">
        <label>Username</label>
        <input
          type="text"
          formControlName="username"
          placeholder="Enter username"
        />
        <small class="error"
          *ngIf="form.get('username')?.touched &&
                 form.get('username')?.invalid">
          Username is required (min 3 characters)
        </small>
      </div>
 
      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter email"
        />
        <small class="error"
          *ngIf="form.get('email')?.touched &&
                 form.get('email')?.invalid">
          Valid email is required
        </small>
      </div>
 
      <!-- Password -->
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Enter password"
        />
      <small class="error"
  *ngIf="form.get('password')?.touched &&
         form.get('password')?.errors?.['pattern']">
          Give Stong Password
</small>
 
      </div>
 
      <!-- Confirm Password -->
      <div class="form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Re-enter password"
        />
 
        <small class="error"
          *ngIf="form.hasError('passwordMismatch') &&
                 form.get('confirmPassword')?.touched">
          Passwords do not match
        </small>
      </div>
 
      <!-- Customer ID -->
      <div class="form-group">
        <label>Customer ID</label>
        <input
          type="number"
          formControlName="customerId"
          placeholder="Enter customer ID"
        />
        <small class="error"
          *ngIf="form.get('customerId')?.touched &&
                 form.get('customerId')?.invalid">
          Customer ID is required
        </small>
      </div>
 
      <!-- Submit -->
      <button
        type="submit"
        class="btn-primary"
        [disabled]="form.invalid">
        Register
      </button>
    </form>
 
    <p class="link-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
 
 